name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: haskell-actions/setup@v2
        with:
          ghc-version: "9.6.7"

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-cabal-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('**/*.hs') }}
          restore-keys: |
            ${{ runner.os }}-cabal-${{ hashFiles('**/*.cabal') }}-
            ${{ runner.os }}-cabal-

      - name: Install dependencies
        run: cabal update && cabal build --only-dependencies

      - name: Build
        run: cabal build

      - name: Run tests
        run: cabal test
